.menu {
  background: lightseagreen;
}

.nav-link {
  color: #C1E4FF
}

.nav-link:hover{
  color: #FFF
}

.banner {
  margin-top: 90px;
}

.banner img {
  width: 100%;
  height: 230px
}

.active {
  color: #FFF
}

.fixed-top{
  background-color: white;
}
